<%-include('partials/header');-%>
<main>
    <h1>Welcome To Your Dashboard</h1>
    <form id="createUrlForm">
        <fieldset>
            <legend>Create short url:</legend>
            <!-- long url -->
            <label for="longUrl">Long url:</label> <br>
            <input type="text" name="longUrl" placeholder="Enter long url here"> <br><br>
            <!-- custom url -->
            <label for="customUrl">Custom url (optional):</label> <br>
            <input type="text" name="customUrl" placeholder="Enter custom word here"> <br><br>
            <!-- qrcode -->
            <label for="qrcode">Check to generate QRCode:</label>
            <input type="checkbox" name="qrcode"> <br><br>
            <!-- response message from server -->
            <div class="resMsg">
                <img src=<%=qrImage%> height="100" alt="image named yellow">
                <!-- <img src="/img/yellow.png" height="100" alt="image named yellow"> -->
            </div>
            <!-- submit button -->
            <button>Create</button> <br>
        </fieldset>
    </form>

    <!-- <img src="/img/yellow.png" height="100" alt="image named gg"> -->

    <caption><h2>Link History:</h2></caption>
    <table>
        <thead>
            <tr>
                <th>S/N</th>
                <th>SHORT URL</th>
                <th>LONG URL</th>
            </tr>
        </thead>
        <tbody>
            <% urlCollection.forEach((element, i) => { %>
                <tr>
                    <td> <%= 1 + i %> </td>
                    <td> <%= element.shortUrl %> </td>
                    <td> <%= element.longUrl %> </td>
                </tr>
            <% }) %>

        </tbody>
    </table>

    <caption><h2>Analytics:</h2></caption>
    <% for( let i = 0; i < urlCollection?.length; i++ ) { %>
        <fieldset>
            <legend>(<%= 1 + i %>). Details for: <%= urlCollection[i].shortUrl %>, Number of Clicks: <%= urlCollection[i].clicks %> </legend>

            <table>
                <thead>
                    <tr>
                        <th>S/N</th>
                        <th>CLICK ORIGIN (Referrer)</th>
                        <th>BROWSER (userAgent)</th>
                        <th>TIME OF CLICK (timestamp)</th>
                    </tr>
                </thead>
                <tbody>
                    <% for( let j = 0; j < urlCollection?.clickDetails?.length; j++ ) { %>
                        <h3> hello, world<%= console.log(urlCollection.clickDetails) %> </h3>
                        <tr>
                            <td><%= 1 + j %>. </td>
                            <td><%= urlCollection.clickDetails[j].referrer %> </td>
                            <td><%= urlCollection.clickDetails[j].userAgent %> </td>
                            <td><%= urlCollection.clickDetails[j].timestamp %> </td>
                        </tr>
                    <% } %>
                </tbody>
            </table>

        </fieldset> <br>
    <% } %>
    
    <script>
        const createUrlForm = document.querySelector('#createUrlForm');
        const resMsg = document.querySelector('.resMsg');
        createUrlForm.addEventListener('submit', async (e) => {
            e.preventDefault();
            resMsg.textContent = '';  // reset response message div
            // form input is assigned to js variables
            const longUrl = createUrlForm.longUrl.value;
            const customUrl = createUrlForm.customUrl.value;
            const qrcodeRequested = createUrlForm.qrcode.checked;
            console.log({ qrcodeRequested, customUrl, longUrl });
            try {
                const res = await fetch('/api/v1/', {
                    method: 'POST',
                    body: JSON.stringify({ longUrl, customUrl, qrcodeRequested }),
                    headers: { 'Content-Type': 'application/json' }
                });
                const data = await res.json();
                console.log({data});
                if (data.shortUrlCreated) return resMsg.textContent = data.resMsg;
                resMsg.textContent = data.errMsg;
            } catch (err) {
                console.log(err);
            }
        })
    </script>
</main>
<%-include('partials/footer');-%>