<%-include('partials/header');-%>

<main>
  <div class="main-container">
    <h1>Welcome To Your Dashboard</h1>
    <div>
      <caption>
        <h2 id="create-modify-url"></h2>
      </caption>
    </div>

    <div class="forms">

      <form class="form-item" id="create-url">
        <fieldset>
          <legend>Create short URL:</legend>
          <!-- long url -->
          <label for="longUrl">Long url:</label> <br />
          <input type="text" name="longUrl" placeholder="Enter long url here" />
          <br /><br />
          <!-- custom url -->
          <label for="customUrl">Custom url (optional):</label> <br />
          <input
            type="text"
            name="customUrl"
            placeholder="Enter custom word here"
          >
          <br><br>
          <!-- qrcode -->
          <label for="qrcode">Check to generate QRCode:</label>
          <input type="checkbox" name="qrcode"> <br><br>
          <!-- submit button -->
          <button>Create URL</button> <br>
          <!-- response message from server -->
          <p class="res-msg"></p>
          <img src="" height="100" id="qrcode-img" alt="" />
        </fieldset>
      </form>

      <form class="form-item" id="edit-url">
        <fieldset>
          <legend>Edit short URL:</legend>
          <!-- find url -->
          <label for="find-url">Enter the short url you wish to edit</label> <br>
          <input type="text" name="find-url" placeholder="Enter short url here"> <br><br>
          <!-- long url -->
          <label for="long-url">New long url:</label> <br />
          <input type="text" name="long-url" placeholder="Enter new long url here" />
          <br /><br />
          <!-- custom url -->
          <label for="custom-url">New custom url (optional):</label> <br />
          <input
            type="text"
            name="custom-url"
            placeholder="Enter custom word here"
          />
          <br /><br />
          <!-- qrcode -->
          <label for="qrcode">Check to generate QRCode:</label>
          <input type="checkbox" name="qrcode" /> <br /><br />
          <!-- submit button -->
          <button>Edit URL</button> <br />
          <!-- response message from server -->
          <p class="res-msg"></p>
          <img src="" height="100" id="qrcode-img" alt="" />
        </fieldset>
      </form>

      <form class="form-item" id="delete-url">
        <fieldset>
          <legend>Delete short URL:</legend>
          <!-- find url -->
          <label for="find-url">Enter the short url you wish to delete</label> <br>
          <input type="text" name="find-url" placeholder="Enter short url here"> <br><br>

          <!-- submit button -->
          <button>Delete URL</button> <br>
          <!-- response message from server -->
          <p class="res-msg"></p>
          <!-- delete all urls -->
          <label for="delete-all">Press this button if you wish to delete all URLs:</label><br>
          <button>Delete all!</button>
        </fieldset>
      </form>

    </div>

    <caption>
      <h2 id="link-history">Link History:</h2>
    </caption>
    <table>
      <thead>
        <tr>
          <th>S/N</th>
          <th>SHORT URL</th>
          <th>LONG URL</th>
        </tr>
      </thead>
      <tbody>
        <% urlCollection.forEach((element, i)=> { %>
        <tr>
          <td><%= 1 + i %></td>
          <td><%= element.shortUrl %></td>
          <td><%= element.longUrl %></td>
        </tr>
        <% }) %>
      </tbody>
    </table>

    <caption>
      <h2 id="analytics">Analytics:</h2>
    </caption>
    <% for( let i=0; i < urlCollection?.length; i++ ) { %>
    <fieldset>
      <legend>
        (<%= 1 + i %>). Details for: <%= urlCollection[i].shortUrl %>, Number of
        Clicks: <%= urlCollection[i].clicks %>
      </legend>

      <table class="table">
        <thead>
          <tr>
            <th>S/N</th>
            <th class="column">TIME OF CLICKS (timestamp)</th>
            <th class="column">BROWSER (userAgent)</th>
            <th class="column">ORIGIN OF CLICKS (Referrer)</th>
            <th>
              <img
                src="<%=urlCollection[i].qrcodeFileLocation%>"
                class="analyticsQrcodeImages"
                height="100"
                alt=""
              />
            </th>
          </tr>
        </thead>
        <tbody>
          <% for( let j=0; j < urlCollection[i]?.clickDetails?.length; j++ ) {
          %>
          <tr>
            <td><%= 1 + j %>.</td>
            <td class="column"><%= urlCollection[i].clickDetails[j].timestamp %></td>
            <td class="column"><%= urlCollection[i].clickDetails[j].userAgent %></td>
            <td class="column"><%= urlCollection[i].clickDetails[j].referrer %></td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </fieldset>
    <br />
    <% } %>
    
    <div id="delete-account">
      <caption>Delete user account</caption>
      <p>You can delete your user account here, by pressing the button below. However, please note that if you proceed, you lose all the urls you've created, as well as your link history and analytics.</p>
      <button>Delete your account</button>
    </div>


    <script>
      const createUrlForm = document.querySelector("#create-url");
      const resMsg = document.querySelector(".res-msg");
      const qrcodeImageElement = document.querySelector("#qrcode-img");
      analyticsQrcodeImageElements = document.querySelector(
        ".analyticsQrcodeImages"
      );
      async function deleteQrcodeFetch() {
        const res = await fetch("/api/v1/delete", {
          method: "GET",
          headers: { "Content-Type": "application/json" },
        });
      }
      try {
        if (analyticsQrcodeImageElements) {
          analyticsQrcodeImageElements.onload = deleteQrcodeFetch();
        } else {
          deleteQrcodeFetch();
        }
      } catch (err) {
        console.log(err);
      }
      // create URL form event listener
      createUrlForm.addEventListener("submit", async (e) => {
        e.preventDefault();
        resMsg.textContent = ""; // reset response message div
        qrcodeImageElement.src = "";
        try {
          qrcodeImageElement.onload = async function () {
            const res = await fetch("/api/v1/delete", {
              method: "GET",
              headers: { "Content-Type": "application/json" },
            });
          };
        } catch (err) {
          console.log(err);
        }
        // form input is assigned to js variables
        const longUrl = create-url.long-url.value;
        const customUrl = create-url.custom-url.value;
        const qrcodeRequested = create-url.qrcode.checked;
        try {
          const res = await fetch("/api/v1/", {
            method: "POST",
            body: JSON.stringify({ longUrl, customUrl, qrcodeRequested }),
            headers: { "Content-Type": "application/json" },
          });
          const data = await res.json();
          if (data.shortUrlCreated) {
            resMsg.textContent = data.resMsg;
            qrcodeImageElement.src = data.qrcodeFileLocation;
            return;
          }
          resMsg.textContent = data.errMsg;
          qrcodeImageElement.src = "";
        } catch (err) {
          console.log(err);
        }
      });
    </script>
  </div>
</main>
<%-include('partials/footer');-%>
