<%-include('partials/header');-%>
<main>
    <h1>Welcome To Your Dashboard</h1>
    <form id="createUrlForm">
        <fieldset>
            <legend>Create short url:</legend>
            <!-- long url -->
            <label for="longUrl">Long url:</label> <br>
            <input type="text" name="longUrl" placeholder="Enter long url here"> <br><br>
            <!-- custom url -->
            <label for="customUrl">Custom url (optional):</label> <br>
            <input type="text" name="customUrl" placeholder="Enter custom word here"> <br><br>
            <!-- qrcode -->
            <label for="qrcode">Check to generate QRCode:</label>
            <input type="checkbox" name="qrcode"> <br><br>
            <!-- response message from server -->
            <div class="resMsg"></div>
            <!-- submit button -->
            <button>Create</button> <br>
        </fieldset>
    </form>

    <caption><h2>Link History:</h2></caption>
    <table>
        <thead>
            <tr>
                <th>S/N</th>
                <th>SHORT URL</th>
                <th>LONG URL</th>
            </tr>
        </thead>
        <tbody>
            <% linkHistory.forEach(element => { %>
                <tr>
                    <td> <%= 1 + linkHistory.indexOf(element) %> </td>
                    <td> <%= element.shortUrl %> </td>
                    <td> <%= element.longUrl %> </td>
                </tr>
            <% }) %>

        </tbody>
    </table>

    <caption><h2>Analytics:</h2></caption>
    <% analytics.forEach(element => { %>
     
        <fieldset>
        <legend> ( <%= 1 + analytics.indexOf(element) %> ). Details for: <%= element.shortUrl %> , Number of Clicks: <%= element.clicks %>  </legend>
            <table>
                <thead>
                    <tr>
                        <th>S/N</th>
                        <th>CLICK ORIGIN (Referrer)</th>
                        <th>BROWSER (userAgent)</th>
                        <th>TIME OF CLICK (timestamp)</th>
                    </tr>
                </thead>
                <tbody>
                    >% analytics.clickDetails.forEach(element => { %>
                        <tr>
                            <td> >%= 1 + analytics.clickDetails.indexOf(element) %> </td>
                            <td> >%= element.referrer %> </td>
                            <td> >%= element.userAgent %> </td>
                            <td> >%= element.timestamp %> </td>
                        </tr>
                    >% }) %>
                </tbody>
            </table>
        </fieldset>

    <% }) %>
    
    <script>
        const createUrlForm = document.querySelector('#createUrlForm');
        const resMsg = document.querySelector('.resMsg');
        createUrlForm.addEventListener('submit', async (e) => {
            e.preventDefault();
            resMsg.textContent = '';  // reset response message div
            // form input is assigned to js variables
            const longUrl = createUrlForm.longUrl.value;
            const customUrl = createUrlForm.customUrl.value;
            const isQrCodeChecked = createUrlForm.qrcode.checked;
            console.log({ isQrCodeChecked, customUrl, longUrl });
            try {
                const res = await fetch('/api/v1/', {
                    method: 'POST',
                    body: JSON.stringify({ longUrl, customUrl, isQrCodeChecked }),
                    headers: { 'Content-Type': 'application/json' }
                });
                const data = await res.json();
                console.log({data});
                if (data.shortUrlCreated) return resMsg.textContent = data.resMsg;
                resMsg.textContent = data.errMsg;
            } catch (err) {
                console.log(err);
            }
        })

        // const urlAnalyticsForm =document.querySelector('#urlAnalyticsForm');
        // urlAnalyticsForm.addEventListener('submit', async (e) => {
        //     e.preventDefault();
        //     const shortUrl = urlAnalyticsForm.shortUrl.value;
        //     try {
        //         const res = await fetch('/api/v1/dashboard', {
        //             method: 'POST',
        //             body: JSON.stringify({ shortUrl }),
        //             headers: { 'Content-Type': 'application/json' }
        //         });
        //         const data = await res.json();
        //         console.log({data});
        //         // if (data.shortUrlCreated) return resMsg.textContent = data.resMsg;
        //         // resMsg.textContent = data.errMsg;
        //     } catch (err) {
        //         console.log(err);
        //     }
        // })
    </script>
</main>
<%-include('partials/footer');-%>