<%-include('partials/header');-%>

<main>
  <div class="main-container">
    <h1>Welcome To Your Dashboard!</h1>

    <caption>
      <h2 id="create-modify-url"><em>Create, edit, or delete url:</em></h2>
    </caption>
    <div class="forms">

      <form class="form-item" id="create-url">
        <fieldset>
          <legend>Create short URL:</legend>
          <!-- long url -->
          <label for="longUrl">Long url:</label> <br />
          <input type="text" name="longUrl" placeholder="Enter long url here" />
          <br /><br />
          <!-- custom url -->
          <label for="customUrl">Custom url (optional):</label> <br />
          <input
            type="text"
            name="customUrl"
            placeholder="Enter custom word here"
          >
          <br><br>
          <!-- qrcode -->
          <label for="qrcode">Check to generate QRCode:</label>
          <input type="checkbox" name="qrcode"> <br><br>
          <!-- submit button -->
          <button>Create URL</button> <br>
          <!-- response message from server -->
          <p class="res-msg"></p>
          <img src="" height="100" id="qrcode-img" alt="" />
        </fieldset>
      </form>

      <form class="form-item" id="edit-url">
        <fieldset>
          <legend>Edit short URL:</legend>
          <!-- find url -->
          <label for="findUrl">Enter the short url you wish to edit:</label> <br>
          <input type="text" name="findUrl" placeholder="Enter short url here"> <br><br>
          <!-- long url -->
          <label for="longUrl">New long url:</label> <br />
          <input type="text" name="longUrl" placeholder="Enter new long url here" />
          <br /><br />
          <!-- custom url -->
          <label for="customUrl">New custom url (optional):</label> <br />
          <input
            type="text"
            name="customUrl"
            placeholder="Enter custom word here"
          />
          <br><br>
          <!-- qrcode -->
          <label for="qrcode">Check to generate QRCode:</label>
          <input type="checkbox" name="qrcode"> <br><br>
          <!-- submit button -->
          <button>Edit URL</button> <br>
          <!-- response message from server -->
          <p class="res-msg"></p>
          <img src="" height="100" id="qrcode-img" alt="">
        </fieldset>
      </form>

      <form class="form-item" id="delete-url">
        <fieldset>
          <legend>Delete short URL:</legend>
          <!-- find url -->
          <label for="findUrl">Delete one:</label> <br>
          <input type="text" name="findUrl" placeholder="Enter short url here"> <br><br>

          <!-- delete all -->
          <label for="deleteAll">Or delete all:</label><br>
          <input type="checkbox" name="deleteAll"><br>

          <!-- submit button -->
          <button>Delete URL</button> <br>
          <!-- response message from server -->
          <p class="res-msg"></p>
        </fieldset>
      </form>

    </div>

    <caption>
      <h2 id="link-history"><em>Link History:</em></h2>
    </caption>
    <table>
      <thead>
        <tr>
          <th>S/N</th>
          <th>SHORT URL</th>
          <th>LONG URL</th>
          <th>TIME CREATED</th>
        </tr>
      </thead>
      <tbody>
        <% urlCollection.forEach((element, i)=> { %>
        <tr>
          <td><%= 1 + i %></td>
          <td><%= element.shortUrl %></td>
          <td><%= element.longUrl %></td>
          <td><%= element.createdAt%> </td>
        </tr>
        <% }) %>
      </tbody>
    </table>

    <caption>
      <h2 id="analytics"><em>Analytics:</em></h2>
    </caption>
    <% for( let i=0; i < urlCollection?.length; i++ ) { %>
    <fieldset>
      <legend>
        (<%= 1 + i %>). Details for: <%= urlCollection[i].shortUrl %>, Number of
        Clicks: <%= urlCollection[i].clicks %>
      </legend>

      <table class="table">
        <thead>
          <tr>
            <th>S/N</th>
            <th class="column">TIME OF CLICKS (timestamp)</th>
            <th class="column">BROWSER (userAgent)</th>
            <th class="column">ORIGIN OF CLICKS (Referrer)</th>
            <th>
              <img
                src="<%=urlCollection[i].qrcodeFileLocation%>"
                class="analytics-qrcode-images"
                height="100"
                alt=""
              />
            </th>
          </tr>
        </thead>
        <tbody>
          <% for( let j=0; j < urlCollection[i]?.clickDetails?.length; j++ ) {
          %>
          <tr>
            <td><%= 1 + j %>.</td>
            <td class="column"><%= urlCollection[i].clickDetails[j].timestamp %></td>
            <td class="column"><%= urlCollection[i].clickDetails[j].userAgent %></td>
            <td class="column"><%= urlCollection[i].clickDetails[j].referrer %></td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </fieldset>
    <br />
    <% } %>
    
    <div id="delete-account">
      <caption>
        <h2><em>Delete user account:</em></h2>  
      </caption>
      <p>You can delete your user account here, by clicking the button below. However, please note that if you proceed, you lose all the urls you've created, as well as your link history and analytics. Also, your user account details will be deleted and you would be redirected to our homepage.</p>
      <button id="delete-account">Delete your account</button>
    </div>


    <script>

      const createUrlForm = document.querySelector("#create-url");
      const resMsg = document.querySelector(".res-msg");
      const qrcodeImageElement = document.querySelector("#qrcode-img");
      analyticsQrcodeImageElements = document.querySelector(
        ".analytics-qrcode-images"
      );
      async function deleteQrcodeFetch() {
        const res = await fetch("/api/v1/deleteQrcodeImg", {
          method: "DELETE",
          headers: { "Content-Type": "application/json" },
        });
      }
      try {
        if (analyticsQrcodeImageElements) {
          analyticsQrcodeImageElements.onload = deleteQrcodeFetch();
        } else {
          deleteQrcodeFetch();
        }
      } catch (err) {
        console.log(err);
      }
      // create URL form event listener
      createUrlForm.addEventListener("submit", async (event) => {
        event.preventDefault();
        resMsg.innerText = ""; // reset response message div
        qrcodeImageElement.src = "";
        try {
          qrcodeImageElement.onload = async function () {
            const res = await fetch("/api/v1/delete", {
              method: "GET",
              headers: { "Content-Type": "application/json" },
            });
          };
        } catch (err) {
          console.log(err);
        }
        // form input is assigned to js variables
        const longUrl = createUrlForm.longUrl.value;
        const customUrl = createUrlForm.customUrl.value;
        const qrcodeRequested = createUrlForm.qrcode.checked;
        try {
          const res = await fetch("/api/v1/", {
            method: "POST",
            body: JSON.stringify({ longUrl, customUrl, qrcodeRequested }),
            headers: { "Content-Type": "application/json" },
          });
          const data = await res.json();
          if (data.shortUrlCreated) {
            resMsg.innerText = data.resMsg;
            qrcodeImageElement.src = data.qrcodeFileLocation;
            return;
          }
          resMsg.innerText = data.errMsg;
          qrcodeImageElement.src = "";
        } catch (err) {
          console.log(err);
        }
      });

      const deleteUrlForm = document.querySelector('#delete-url');
      
      deleteUrlForm.addEventListener('submit', async (event) => {
        event.preventDefault();

        const findUrl = deleteUrlForm.findUrl.value;
        const deleteAll = deleteUrlForm.deleteAll.checked;
        try {
          const res = await fetch('/api/v1/delete', {
            method: 'DELETE',
            body: JSON.stringify({findUrl, deleteAll}),
            headers: { 'Content-Type': 'application/json' },
          });
          const data = await res.json();
          console.log({data});
        } catch (err) {
          console.log(err);
        }
      })

      const deleteAccountBtn = document.querySelector('#delete-account');

      deleteAccountBtn.addEventListener('click', async (event) => {
        try {
          const res = await fetch('/api/v1/user/delete', {
            method: 'DELETE',
            headers: { 'Content-Type': 'application/json' },
          });
          const data = await res.json();
          console.log({ data });
        } catch (err) {
          console.log(err);
        }
      })


    </script>
  </div>
</main>
<%-include('partials/footer');-%>
